/* Global CSS */
* {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}
body {
  margin: 0;
}
body ::selection {
  color: #FFF;
  background-color: #489AC3;
  text-shadow: none;
}
body > div {
  width: 100%;
}
input, p, span, button, .type-option {
  border: none;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
span, img {
  vertical-align: middle;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #489AC3;
}

/* Frame CSS */
.head {
  background-color: #99E1CD;
  height: 50px;
  text-align: center;
}
  .head > .container {
    width: 100px;
  }
    .head > .container > p{
      height: 50px;
      margin: 0 5px;
      line-height: 50px;
      float: left;
    }
    .head > .container > p:before{
      content: ".";
      margin-left: -5px;
      font-size: 10px;
      visibility: hidden;
    }
    .head > .container > p img{
      *margin-top: expression((50 - this.height )/2);
      vertical-align: middle;
    }

.body {
  padding: 30px 0;
}
  .body .search-res {
    width: 1000px;
    min-height: 200px;
    margin: 30px auto 0 auto;
    text-align: center;
  }
  .body .search-res > .search-notice {
    font-size: 20px;
    color: #666;
  }
  .body .search-res > .search-loading {
    font-size: 80px;
    color: #40b596;
    margin: 60px 0;
    animation: loadingAni 3.5s infinite;
    -webkit-animation: loadingAni 3.5s infinite;
  }
  .body .search-res > .res-group {
    width: 100%;
    padding-left: 120px;
    border-bottom: solid 2px #99E1CD;
    color: #333;
    text-align: left;
  }
  .body .search-res > .res-group:last-child {
    width: 100%;
    padding-left: 120px;
    border-bottom: none;
    color: #333;
  }
  .body .search-res > .res-group > .res-left {
    width: 550px;
    float: left;
  }
  .body .search-res > .res-group .res-right {
    float: right;
    margin-right: 120px;
  }
  .body .search-res > .res-group i {
    /* The color of font-awesome which shows the type of works */
    color: #40b596;
  }
  .body .search-res .star-group i {
    /* The color of font-awesome which shows the score of works */
    color: #99E1CD;
  }
  .body .search-res > .res-group .res-name {
    margin: 20px 0;
  }
  .body .search-res > .res-group .res-comment {
    margin: 0 5px;
    font-size: 13px;
  }
  .body .search-res > .res-group .res-author {
    font-size: 14px;
  }
  .body .search-res > .res-group .res-intro {
    font-size: 13px;
  }
  .body .search-res > .res-group .res-right img {
    width: 66px;
    margin: 20px 0;
  }
.footer {
  background-color: #3FB595;
  height: 250px;
  width: 100%;
  text-align: center;
  color: #FFF;
}
  .footer > img {
    margin: 30px 0 10px 0;
  }
  .footer a {
    text-decoration: underline;
    color: #FFF;
  }
  .footer p {
    color: #FFF;
  }

/* Regular UI */
.container {
  margin: 0 auto;
}
.input-group {
  margin: 0 auto;
  height: 50px;
  width: 40%;
  position: relative;
}
  .input-group > .input-inner {
    height: 100%;
  }
  .input-group .input-box {
    border: none;
    border-right: 2px solid #99E1CD;
    position: absolute;
    left: 100px;
    right: 100px;
    top: 0;
  }
  .input-group .input-box > input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 18px;
    color: #049265;
  }
  .input-group button {
    background-color: #99E1CD;
    border: none;
    width: 100px;
    float: right;
  }
  .input-group .input-type {
    float: left;
    background-color: #FFF;
    border-right: 2px solid #99E1CD;
    color: #99E1CD;
    font-size: 18px;
    cursor: pointer;
  }
  .input-group .type-options {
    position: absolute;
    left: -2px;
    top: 100%;
    width: 102px;
    background-color: #FFF;
    border-bottom: none;
    cursor: pointer;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  .input-group .type-options-open-status {
    transform: scaleY(1);
  }
  .input-group .type-options-open-ani {
    animation: selectOptionOpen 0.8s;
    -webkit-animation: selectOptionOpen 0.8s;
  }
  .input-group .type-options-close-status {
    transform: scaleY(0);
  }
  .input-group .type-options-close-ani {
    animation: selectOptionClose 0.8s;
    -webkit-animation: selectOptionClose 0.8s;
    transform: scaleY(0);
  }
    .input-group .type-options .type-option {
      height: 50px;
      width: 100%;
      border-bottom: 2px solid #99E1CD;
      text-align: center;
      color: #99E1CD;
      font-size: 18px;
    }
    .input-group .type-options .type-option p {
      line-height: 50px;
      margin: 0
    }

.UIborder {
  border: solid 2px #99E1CD;
}

.cb {
  clear: both;
}
.hide {
  display: none;
}

/* Animation */
@keyframes loadingAni{
  from {
  transform: rotateZ(0deg);
  }
  to {
  transform: rotateZ(360deg);
  }
}

@keyframes selectOptionOpen{
  from {
  transform: scaleY(0);
  }
  to {
  transform: scaleY(1);
  }
}

@keyframes selectOptionClose{
  from {
  transform: scaleY(1);
  }
  to {
  transform: scaleY(0);
  }
}
